.rayen{}
/* Option Snippet Testimonial */
.option_bg1{
    background-image: url('/theme_louma/static/src/images/theme/background/bg1.jpg');
}
.option_bg2{
    background-image: url('/theme_louma/static/src/images/theme/background/bg2.jpg');
}
.option_bg3{
    background-image: url('/theme_louma/static/src/images/theme/background/bg3.jpg');
}
.option_bg4{
    background-image: url('/theme_louma/static/src/images/theme/background/bg4.jpg');
}

.option_bg5{
    background-image: url('/theme_louma/static/src/images/theme/background/bg5.jpg');
}
.option_bg6{
    background-image: url('/theme_louma/static/src/images/theme/background/bg6.jpg');
}
.option_bg7{
    background-image: url('/theme_louma/static/src/images/theme/background/bg7.jpg');
}
.option_bg8{
    background-image: url('/theme_louma/static/src/images/theme/background/bg8.jpg');
}
.option_bg9{
    background-image: url('/theme_louma/static/src/images/theme/background/bg9.jpg');
}
.option_bg10{
    background-image: url('/theme_louma/static/src/images/theme/background/bg10.jpg');
}
.option_bg11{
    background-image: url('/theme_louma/static/src/images/theme/background/bg11.jpg');
}
.option_bg12{
    background-image: url('/theme_louma/static/src/images/theme/background/bg12.jpg');
}
/* Option Snippet Testimonial */
.opt_red_bg{
    background-color: #e84c3d;
}
.opt_blue_bg{
    background-color: #3d78d8;
}
.opt_green_bg{
    background-color: #db7093;
}
.opt_orange_bg{
    background-color: #0d8609
}
.opt_gray_bg{
    background-color: #f1f1f1;;
}
.opt_pink_bg{
    background-color: #4e5b5e;
}
.opt_purple_bg{
    background-color: #954db3;
}
.opt_dark_cyan_bg{
    background-color: #009798;
}
.opt_yellow_bg{
    background-color: #d3b61c;
}
.opt_light_blue_bg{
    background-color: #38c7f4;
}
.opt_brown_bg{
    background-color: #7a5230;
}
.opt_light_green_bg{
    background-color: #599f06;
}
.opt_dark_red_bg{
    background-color: #8e1e13;
}
